* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 100px 50px;
}
